.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.challenge-parent {
  position: relative;
  width: 400px;
  height: 400px;
}

.challenge > div > div > div {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bold;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.challenge-first-element {
  background-color: turquoise;
  color: saddlebrown;
  position: absolute;
  top: 10px;
  left: 10px;
}

.challenge-second-element {
  background-color: pink;
  color: slategray;
  position: absolute;
  top: 140px;
  left: 140px;
}
